.hotel-container > * {
  padding-left: 1%;
}
.hotel-container {
  padding: 0 2%;
  width: 100%;
  height: 100vh;
  .hotel-name {
    color: black;

    .hotel-location {
      margin-left: 15px;
      font-size: 1rem;
      color: var(--Note);
      font-weight: 400;
    }
  }
  .flex-cont {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    .hotel-img {
      height: auto;
      background-size: cover;
    }
  }

  nav {
    justify-content: space-between;
    align-items: center;
    padding: 0;
    .logo {
      content: url("/public/logoBlack.png");
    }
    ul li a {
      color: rgb(0, 0, 0);
    }
    .user-icon {
      color: rgb(0, 0, 0);
    }
  }
}
