.hotel-container > * {
  padding-left: 1%;
}
.hotel-container {
  padding: 0 2%;
  width: 100%;
  height: 100vh;
  .hotel-name {
    color: black;

    .hotel-location {
      margin-left: 15px;
      font-size: 1rem;
      color: var(--Note);
      font-weight: 400;
    }
  }
  .flex-cont {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    .hotel-img {
      height: auto;
      background-size: cover;
    }
  }

  nav {
    justify-content: space-between;
    align-items: center;
    padding: 0;
    .logo {
      content: url("/public/logoBlack.png");
    }
    ul li a {
      color: rgb(0, 0, 0);
    }
    .user-icon {
      color: rgb(0, 0, 0);
    }
  }
  .map-description-con {
    height: 99vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 2%;
    padding: 10% 3%;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
      rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    section {
      flex: 1;
      height: 100%;
      h3 {
        font-size: 2rem;
      }
      .note {
        color: var(--Note);
      }
    }
  }
}
