@import url("../../globals.css");

.home-page {
  width: 100%;
  height: 100vh;
  background-image: url("/public/homeCover.jpg");
  /* To Solve:backgound image size is too big loading is taking time */
  background-size: cover;
}
