.search-bar {
  min-width: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  gap: 1%;
  box-sizing: border-box;
  width: 60%;
  margin: 50px auto;
  height: fit-content;
  border-radius: 12px;
  padding: 5px 20px;
  background-color: rgb(255, 255, 255);
  padding: 1%;
  .search-icon {
    color: white;
    background-color: var(--Primary);
    padding: 1%;
    border-radius: 12px;
    font-size: 1.5rem;
    min-width: 45px;
    border: none;
    height: 46px;
  }
  .search-input {
    height: 45px;
    box-sizing: border-box;
    padding: 1%;
    background-color: var(--Secondary);
    border: none;
    border-radius: 12px;
    color: var(--Text);
    width: 100%;
    max-width: 600px;
  }
  .search-input::placeholder {
    color: var(--Text);
  }
  .search-input:focus {
    outline: none;
  }
  .search-details {
    min-width: 160px;
    h2 {
      box-sizing: border-box;
      margin: 0 2px 5px 2px;
      padding: 0;
      font-size: 1.2rem;
      font-weight: 500;
      display: inline;
    }
    input {
      margin: 0;
      padding: 0 15px;
      display: inline;
    }
  }
  .gusts-details {
    display: flex;
    box-sizing: border-box;
    background-color: var(--Secondary);
    padding: 0 4%;
    border-radius: 12px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    svg {
      font-size: 1.4rem;
      padding-left: 10px;
    }
    input {
      text-align: center;
      width: 50px;
      padding: 10px;
      padding-right: 1px;
    }
  }
  .rooms-details {
    width: 20%;
    min-width: 40px;
    input {
      width: 100%;
    }
  }
}
@media screen and (max-width: 830px) {
  .search-bar {
    flex-wrap: wrap;
  }
}
