.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
  border-radius: 12px;
  height: 60vh;
  overflow: scroll;
  scrollbar-width: none;
  margin: 1% 5% 0 1%;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;

  .column {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
    border-radius: 12px;
    cursor: "pointer";
  }
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 12px;
    cursor: "pointer";
  }

  .full-screen-modal img {
    border: 2px solid white;
    border-radius: 10px;
  }
}
