.available-rooms-con {
  height: 99vh;
  width: 100%;
  min-height: fit-content;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  .header {
    display: flex;
    align-items: baseline;
    gap: 4px;
    h4 {
      flex-grow: 2;
      font-size: 2rem;
    }

    .btn {
      cursor: pointer;
    }
  }

  .rooms {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
  }
}
