.search-result-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "sidebar searchBar "
    "sidebar result ";
  grid-template-rows: minmax(163px, 16%);
/*  grid-template-columns: min-content 75%;
 */  justify-content: space-evenly;

  background-image: url("/public/homeCover.jpg");
  background-size: cover;
  height: 100vh;
  .search-bar-con {
    grid-area: searchBar;
    margin: 3% 20px 0 0;
    background-color: transparent;
   

    .search-bar {
      margin: 0;
      width: 94%;
      min-width: auto;
    }

    
  }

  .sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: white;
    margin: 11% 7%;
    border-radius: 12px;
    padding: 0 9%;
    max-width: fit-content;
    max-height: fit-content;
    min-height: fit-content;
    .filter-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        font-weight: 400;
      }
      button {
        border: none;
        background: transparent;
        svg {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }

    .filter-options {
      list-style-type: none;
      box-sizing: border-box;
      width: 100%;
      height: 80%;
      display: flex;
      justify-content: start;
      gap: 50px;
      flex-direction: column;
      padding: 0;
      li {
        width: 100%;
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        gap: 10px;
        border-bottom: 1px solid black;
        padding-bottom: 7%;
        input,
        select {
          font-size: 1.1rem;
          height: 100%;
          width: 70%;
          border: none;
          padding: 1%;
          background-color: transparent;
        }

        input:focus,
        select:focus {
          outline: none;
        }
        input::placeholder {
          color: rgb(92, 92, 92);
        }

        button {
          margin-left: 76%;
          color: white;
          background-color: var(--Primary);
          padding: 3%;
          border-radius: 12px;
          font-size: 1.1rem;
          border: none;
          float: right;
        }
      }
    }
  }
  .result {
    grid-area: result;
    background-color: white;
    width: 92%;
    border-radius: 12px;
    margin-bottom: 1%;
    overflow: hidden;

    .result-header {
      display: flex;
      justify-content: space-between;
      padding: 0 20px 0 6%;
      align-items: center;
      h2 {
        font-weight: 400;
        font-size: 1.1rem;
        flex-grow: 2;
      }
      select {
        font-size: 1rem;
        border: none;
        background-color: #e0e0e0;
        border-radius: 12px;
        height: fit-content;
        padding: 0.5%;
        text-transform: capitalize;
      }
      select:focus {
        outline: none;
      }
      .star-rate {
        width: 15%;
        display: flex;
        align-items: center;
        input {
          font-size: 1.1rem;
          height: fit-content;
          width: 70%;
          border: none;
          background-color: transparent;
        }

        input::placeholder {
          color: rgb(92, 92, 92);
          font-size: 0.9rem;
        }

        svg {
          font-size: 1.3rem;
        }
      }
    }

    .result-body {
      list-style-type: none;
      width: 80%;
      overflow-y: scroll;
      scrollbar-width: none;
      height: 70%;
      padding-bottom: 50px;
    }
  }
}
